.btn {
  &--bg {
    &-primary {
      background-color: blue;
      color: #fff;
    }
    &-success {
      background-color: green;
      color: #fff;
    }
    &-danger {
      background-color: red;
      color: #fff;
    }
  }
}
